In [348]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [349]:

current_path = os.getcwd()
print("The current working directory is:", current_path)

The current working directory is: d:\Swinburne\COS30082\Lab3

In [350]:
# Load the dataset
 
preprocess_df = pd.read_csv('Titanic-Dataset.csv')

In [351]:
preprocess_df.head()
df = preprocess_df.copy()

In [352]:
# Preprocessing
# Encoding categorical data
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])  # Convert 'Sex' to numerical
df["Embarked"].fillna(df['Embarked'].value_counts().idxmax(), inplace=True)
df["Age"].fillna(df["Age"].median(skipna=True), inplace=True)
print(df.isnull().sum())
# df['Embarked'].fillna('S', inplace=True)  # Fill missing 'Embarked' with 'S' for Southampton
#df['Embarked'] = label_encoder.fit_transform(df['Embarked'])  # Convert 'Embarked' to numerical
df = pd.get_dummies(df, columns=['Embarked','Pclass'])
# Convert True/False values to 0/1
df['Embarked_C'] = df['Embarked_C'].astype(int)
df['Embarked_Q'] = df['Embarked_Q'].astype(int)
df['Embarked_S'] = df['Embarked_S'].astype(int)
# Convert True/False values to 0/1 for Pclass
df['Pclass_1'] = df['Pclass_1'].astype(int)
df['Pclass_2'] = df['Pclass_2'].astype(int)
df['Pclass_3'] = df['Pclass_3'].astype(int)

df.drop(['Cabin','PassengerId', 'Name', 'Ticket','Fare'], axis=1, inplace=True)

# Handling missing values
# df['Age'].fillna(df['Age'].median(), inplace=True)  # Replace missing 'Age' with median value

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [353]:
df.head()

,Survived,Sex,Age,SibSp,Parch,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
0,0,1,22.0,1,0,0,0,1,0,0,1
1,1,0,38.0,1,0,1,0,0,1,0,0
2,1,0,26.0,0,0,0,0,1,0,0,1
3,1,0,35.0,1,0,0,0,1,1,0,0
4,0,1,35.0,0,0,0,0,1,0,0,1

In [354]:
x = df[["Sex","Age","SibSp","Parch","Embarked_C","Embarked_Q","Embarked_S","Pclass_1","Pclass_2","Pclass_3"]]
y = df[["Survived"]]
X_train, X_test, Y_train, Y_test = train_test_split(x, y,test_size= 0.2,train_size=0.2, random_state=0)

In [355]:
clf = LogisticRegression().fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
print("Accuracy:",accuracy_score(Y_test, Y_pred)* 100,"%")
print("Theta (Coefficients):", clf.coef_)
print("Intercept (Theta_0):", clf.intercept_)

Accuracy: 78.9237668161435 %
Theta (Coefficients): [[-2.49683195 -0.03397045 -0.25009826 -0.03041674  0.24261093  0.15516515
  -0.31873601  1.07978399 -0.04518105 -0.95556288]]
Intercept (Theta_0): [2.68503222]

d:\Miniconda3\envs\myenv\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
d:\Miniconda3\envs\myenv\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [356]:
test_data = {
    'PassengerId': [2024, 2025, 2026],
    'Pclass': [1, 2, 3],
    'Name': ['Tony Stack', 'Purple Thanos', 'Pink Kirby'],
    'Sex': ['male', 'male', 'female'],
    'Age': [50, 40, 30],
    'SibSp': [1, 1, 0],
    'Parch': [2, 1, 2],
    'Ticket': ['A/5 21172', 'PC 17600', 'STON/O2. 3101283'],
    'Fare': [100, 50, 25],
    'Cabin': ["C04","C03","C02"],
    'Embarked': ['S', 'C', 'Q']
}
test_df = pd.DataFrame(test_data)
# Preprocessing
# Encoding categorical data
label_encoder = LabelEncoder()
test_df['Sex'] = label_encoder.fit_transform(test_df['Sex'])  # Convert 'Sex' to numerical
test_df["Embarked"].fillna(test_df['Embarked'].value_counts().idxmax(), inplace=True)
test_df["Age"].fillna(test_df["Age"].median(skipna=True), inplace=True)
print(test_df.isnull().sum())
# df['Embarked'].fillna('S', inplace=True)  # Fill missing 'Embarked' with 'S' for Southampton
#df['Embarked'] = label_encoder.fit_transform(df['Embarked'])  # Convert 'Embarked' to numerical
test_df = pd.get_dummies(test_df, columns=['Embarked','Pclass'])
# Convert True/False values to 0/1
test_df['Embarked_C'] = test_df['Embarked_C'].astype(int)
test_df['Embarked_Q'] = test_df['Embarked_Q'].astype(int)
test_df['Embarked_S'] = test_df['Embarked_S'].astype(int)
# Convert True/False values to 0/1 for Pclass
test_df['Pclass_1'] = test_df['Pclass_1'].astype(int)
test_df['Pclass_2'] = test_df['Pclass_2'].astype(int)
test_df['Pclass_3'] = test_df['Pclass_3'].astype(int)

test_df.drop(['Cabin','PassengerId', 'Name', 'Ticket','Fare'], axis=1, inplace=True)

# Handling missing values
# df['Age'].fillna(df['Age'].median(), inplace=True)  # Replace missing 'Age' with median value
# Displaying predictions in a readable format
test_prediction = clf.predict(test_df)

for i, x in enumerate(test_prediction):
    print(f"The person number {i+1} is predicted to  {'survive' if x == 1 else 'not survive'}")

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
The person number 1 is predicted to  not survive
The person number 2 is predicted to  not survive
The person number 3 is predicted to  survive